.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "main main sidebar";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
}

header {
  grid-area: header;
  background-color: pink;
}

.main {
  display: grid;
  grid-template-areas:
    "ms header header"
    "main main sidebar"
    "main main sidebar";
  background: khaki;
  grid-area: main;
}

.main__table {
  grid-area: table;
}

.main__editor {
  grid-area: editor;
}

.sidebar {
  grid-area: sidebar;
  background-color: cadetblue;
}